html, body {
	background:#889ba7;
	margin: 0;
	font-family: 'Josefin Sans', arial, serif;
	color: #111;	
}

#canvas{
	position:relative;
}

#page {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-shadow: 0 1px 5px rgba(60,60,60,.6);
}