*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #e3e2e2;
}
header{
	background: url("../img/header.jpg");
	background-size: 100%;
}
.header{	
	color: #fff;
	display: grid;
	grid-template-columns: 10% 75% 10%;
	justify-content: center;
}
.headeLogin img{
	width: 100%;
	height: 100%;
}

.nav{
	padding-top: 10px;
	font-size: 14px;
}
.nav ul li{
	display: inline-block;
	width:20%;
	text-align: center;
}
.nav ul li p{
	color: #ccc;
}
.nav ul li h3{
  font-weight: normal;
}
.header .login{
	cursor: pointer;
	display: grid;
	grid-template-columns: 45% 50%;

}
.header .login  i{
	padding-top:10px; 
	margin-right: 10px;
	font-size:2.5vw;
}
.header .login img{
	padding-top:4px; 
	padding-bottom: 10px;
	vertical-align: middle;
   	border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
}

.header_con{
	padding-top: 20%;
	text-align: center;
	padding-bottom: 2%;
}
.header_con button{
	background-color: #4c4a4a;
	opacity: .8;
	color: #ea9e2a;
	padding: 1% 4%;
	border: 1px solid  #ea9e2a;
}

/*header end*/

.tab1{
	padding: 5% 0px;
	display: grid;
	grid-template-columns: 50% 40%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;
	background-color: #eee;
}
.carousel img{
	width: 100%;
	height: 100%;
}
.tabItem ul{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}
.tabItem ul li{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	color: #53888e;
	font-size: 16px;
	position: relative;
	padding-bottom: 10px;	
}
.tabItem ul li:hover{
	color: #1da6ba;
	font-weight: bold;
}
.tabItem ul li:hover:before {
	border-bottom: 1px solid #1da6ba;
	bottom: -3px;
	content: "";
	left: 50%;
	margin-left: -35px;
	position: absolute;
	width: 70px;
	color: #1da6ba;
}
.tabItem ul li:hover:after {
	background: none repeat scroll 0 0 #53888e;
	border: 1px solid #1da6ba;
	border-radius: 20px;
	bottom: -10px;
	content: "";
	height: 11px;
	left: 50%;
	margin-left: -5.5px;
	position: absolute;
	width: 10px;
}

.tab1Title h2{
	color: #0da0b4;
	text-align: center;
    line-height: 60px;
}
.tab1con button{
	margin-right: 10px;
}
.tab1con p{
	padding:2% 3%; 
	border-bottom:1px solid #c5c9c9; 
	font-size: 14px;
}
/*按钮的颜色*/
.colorOrg button{
  padding: 3px 5px;
  border: 1px solid #bb9a6c;
  color: #bb9a6c;
}
.colorBlue button{
  padding: 3px 5px;
  border: 1px solid #1da6ba;
  color: #1da6ba;	
}
.colorOrg:hover{
	cursor: pointer;
	color:#bb9a6c; 
}
.colorBlue:hover{
	cursor: pointer;
   color: #1da6ba;
}

/*tab1 END*/
.tab2{
	cursor: pointer;
	padding: 3% 0px;
}
.tab2Title{
	padding-left: 4% ;
	padding-bottom: 10px;
	
}
.tab2Title span{
	display: inline-block;
	float: right;
	padding-right:4%;
	font-size: 16px;
	color: #7ea1a6;
}
.tab2Item{	
	font-size: 1.2vw;
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 4%;
	grid-row-gap: 20px;
}
.tab2Item img{
	width: 100%;
	vertical-align: middle;
}
.tab2con{
	padding-left: 10px;
	background-color: #fff;
}
.tab2con p{
	padding-top: 10px;
	padding-bottom: 20px;
}
.tab2con p:hover{
	color: #1da6ba;
}
.tab2con span{
	display: inline-block;
	color: #1da6ba;
	padding-bottom: 10px;
}

/*热门活动 END*/
.tab3{
	padding: 3% 0px;
	background-color: #eee;
}
.tab3Item{
	cursor: pointer;
	display: grid;
	grid-template-columns: 60% 30%;	
	grid-column-gap: 2%;
	justify-content: center;
}
.tab3 .tab2Title{
	background-color: #eee;
}
.tab3Item .tab3Left{
   display: grid;
	grid-template-columns: 48% 50%;	
	grid-column-gap: 20px;
}
.tab3Item .tab3Left img{
	width: 100%;
	padding-top: 8px;
	height: 97%;
}
.tab3Dow{
	  display: grid;
	  grid-template-columns: 23% 23% 23% 23%;
	  grid-auto-flow: row dense;
	  grid-column-gap: 10px;
	  grid-row-gap: 10px;
}
.tab3Dow .tab3DowTtem1{
  grid-column-start: 1;
  grid-column-end: 3;  
  grid-row-start: 1;
  grid-row-end: 2; 
  background-color:gray;
  background: url("../video/btn-download.mpeg");
  z-index: 9px;
}
.tab3DowTtem2{
	background: url("../img/tab3bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	color: #fff;
	padding-top: 42%;
	font-size: 9px;
}
.tab3DowTtem{
	background-color: #fff;
	padding: 24% 0px;
	text-align: center;

}

/*最新视频 END*/

.tab4{
	padding: 3% 0px;
	cursor: pointer;
	display: grid;
	grid-template-columns: 60% 30%;	
	grid-column-gap: 2%;
	justify-content: center;

}
.tab4 .tab4Title{
	display: grid;
	grid-template-columns: 100%;	
	padding-bottom:20px;
}
.tab4 .renwu{
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;	
  grid-column-gap: 20px;
}
.tab4 .renwu .renwuItem{
	background-color: #fff;
}
.tab4 .renwu .renwuItem img{
   width: 100%;
}
.tab4 .renwu .renwuItem  p{
	text-align: center;
	padding: 3% 0px;
}
.tab4 .tab4Item table{
	width: 100%;
	text-align: center;
} 
.tab4 .tab4Item table thead {
	background-color: #9e9e9e;
}
.tab4 .tab4Item table tbody{
	background-color: #fff;
}
.tab4 .tab4Item table tbody tr td{
   padding: 2% 0px;
}
.tab4 .tab4Item table tbody tr td img{
	vertical-align: middle;
}

/*最佳阵容 END*/
.tab5{
	background-color: #eee;
	padding: 5% 0px;
}
.tab5Item{
	display: grid;
    grid-template-columns: 20% 20% 20% 20% ;	
	grid-column-gap: 4%;
	grid-row-gap: 20px;
	justify-content: center;
}
.tab5Item .itemImg{
	background-color: #fff;
}
.tab5Item img{
	width: 100%;
	height: 100%;
}

/*创作馆 END*/

.footer{
  display: grid;
  grid-template-columns: 90% ;	
  grid-column-gap: 4%;
  justify-content: center;	
  background-color: #e3e2e2;
  color: #9f9378;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  padding: 3% 0px;
}


/*媒体查询 开始*/
@media screen and (max-width:1174px){
    .Dow-version{
		display: none;
	}
	.tab3Item{
		grid-template-columns: 92%;	
   }
   .tab4Rightya{
   	 display: none;
   }
   .tab4{
   	grid-template-columns: 92%;
   }
}
@media screen and (max-width:852px){
	.tab3Left img{
		display: none;
	}
	.tab3Item .tab3Left{
		grid-template-columns: 100%;	
	}
}
@media screen and (max-width:711px){
	.tab4 .renwu{
		grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
	}
}
@media screen and (max-width:585px){
	.tab4 .renwu{
		grid-template-columns: 17% 17% 17% 17% 17%;
	}
}
@media screen and (max-width:481px){
	.tab4 .renwu{
		grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5%;
	}
}
@media screen and (max-width:419px){
	.tab4 .renwu{
		grid-template-columns: 16% 16% 16% 16% 16%;
	}
}

@media screen and (max-width:1030px){
	.tab1{
		grid-template-columns: 95%;
		font-size: 18px;
	}
	.carousel{
		display: none
	}
}
@media screen and (max-width: 960px){
	.port-6 .text-desc p{
	  display: none;
  }
}

@media screen and (max-width: 457px){
	 .nav ul li{
		display: inline-block;
		width:30%;
		text-align: center;
	 }
	 .nav ul li:nth-child(4){
	 	display: none;
	 }
	 .tab1Title{
	 	font-size: 16px;
	 }
}
@media screen and (max-width: 538px){
 .nav{
	padding-top: 3px;
	font-size: .6vw;
}
}

@media screen and (max-width:360px){
	.tab4 .renwu{
		grid-template-columns: 15% 15% 15% 15% 15%;
	}
	.tab4 .renwu p{
		font-size: 10px;
	}
	.tab2con{
		padding-left: 3px;
	}
	.loginItem{
		display: none;
	}
	
	
}
@media screen and (max-width: 305px){
 .nav ul li{
		display: inline-block;
		width:40%;
		text-align: center;
	 }
	 .nav ul li:nth-child(3){
	 	display: none;
	 }
}

/*特效区*/
.port-1{
	  width: 100%;
	  position: relative; 
	  overflow: hidden; 
	  text-align: center;
}
.port-1 .text-desc{
	opacity: 0.9;
	 top: -100%;
	color: #000; 	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-1 img{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-1:hover img{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.port-1.effect-3 .text-desc{
	top: 50%; 
	left: 50%; 
	width: 0;
	height: 0; 
	overflow: hidden; 
	padding: 0;
}
.port-1.effect-3:hover .text-desc{
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #fff;	
}
.port-1.effect-3:hover .text-desc h3{
	padding-top: 20%;
}
.text-desc{
	position: absolute;
	left: 0;
	top: 0; 
	background-color: #4c4a4a 
	height: 100%;
	opacity: 0;
	width: 100%;
 }
.port-6{
	 width: 100%;
	  position: relative; 
	  overflow: hidden;
	  text-align: center;
	  overflow: visible;
	}
.port-6 .text-desc h3{
	padding-top: 40%;
}
.port-6 .text-desc{
	font-size: .5vw;
}
.port-6.effect-3 img{
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-6.effect-3:hover img{
	position: relative; z-index: 9;
	transform: scale(0.3) translateY(-110%);
	-webkit-transform: scale(0.3) translateY(-110%);
	-moz-transform: scale(0.3) translateY(-110%);
}
.port-6.effect-3 .text-desc{
	opacity: 0; 
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);	
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
}
.port-6.effect-3:hover .text-desc{
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
}